---
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Wapar :: About">
    <Navigation currentPage="about" />
    <h1 class="text-center">About Wapar</h1>
</Layout>
