---
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
const response = await fetch("/data.json");
const data = await response.json();
const appName = "ha-bouncie";
---

<Layout title="Wapar :: Home Assistant - Bouncie">
    <Navigation currentPage={appName} />
    <h1 class="text-center">{`Total: ${data.haBouncie.total}`}</h1>
</Layout>
