---
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
import data from "../../public/data.json";
const appName = "ha-bouncie";
---

<Layout title="Wapar :: ha Bouncie">
    <Navigation currentPage={appName} />
    <h1 class="text-center">{`Total: ${data.haBouncie.total}`}</h1>
</Layout>
