---
import Layout from "../layouts/Layout.astro";
const response = await fetch(`https://wapar-api.mandarons.com/api/usage`);
const data = (await response.json());
---

<Layout title="Wapar :: Mandarons Apps Usage" currentPage="home" data={data}>
	
	<section class="text-gray-600 body-font">
		<div class="container px-5 py-5 mx-auto">
			<div class="flex flex-col text-center w-full mb-5">
				<h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Application Installations</h1>
			  </div>
		  <div class="flex flex-wrap -m-5 text-center">
			<div class="p-4 sm:w-1/3 w-1/2">
				  <h2 class="title-font font-medium sm:text-4xl text-3xl text-green-600">{data.totalInstallations}</h2>
				  <p class="leading-relaxed">Total Installations</p>
			</div>
			<div class="p-4 sm:w-1/3 w-1/2">
			  <h2 class="title-font font-medium sm:text-4xl text-3xl text-green-600">{data.iCloudDocker.total}</h2>
			  <p class="leading-relaxed">iCloud Drive Docker</p>
			</div>
			<div class="p-4 sm:w-1/3 w-1/2">
			  <h2 class="title-font font-medium sm:text-4xl text-3xl text-green-600">{data.haBouncie.total}</h2>
			  <p class="leading-relaxed">Home Assitant - Bouncie</p>
			</div>
		  </div>
		</div>
	  </section>
</Layout>
