---
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
const response = await fetch("/data.json");
const data = await response.json();
---

<Layout title="Wapar :: Mandarons Apps Usage">
	<Navigation currentPage="home" />
	<h1 class="text-center">{`Total:${data.totalInstallations}`}</h1>
</Layout>
