---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";

export interface Props {
	title: string;
	currentPage: string;
	data: object;
}

const { title, currentPage, data } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="bg-white">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<Navigation currentPage={currentPage} />
	<body>
		<slot />
	</body>
	<Footer data={data} />
</html>
