---
---

<footer>
    <div class="fixed bottom-0 w-full border-t">
        <div class="flex items-center justify-between p-4">
            <div class="flex items-center"></div>
            <div class="flex items-end">
                <p class="text-xs font-medium text-gray-600">
                    Copyright &copy; 2023 Mandar Patil
                </p>
            </div>
        </div>
    </div>
</footer>
