---
export interface Props {
    currentPage: string;
}

const { currentPage } = Astro.props;
const defaultButtonClasses =
    "p-4 px-4 py-2 text-sm font-medium rounded-lg hover:bg-gray-700 hover:text-white";
const selectedItemClasses = "bg-gray-700 text-white";
---

<nav class="flex items-center justify-between p-4">
    <div class="flex items-center space-x-4">
        <a href="/">
            <svg height="60" width="60">
                <image xlink:href="favicon.svg" height="60" width="60" />
            </svg>
        </a>
        <h1 class="font-semibold text-2xl">Wapar</h1>
    </div>
    <div class="flex items-center space-x-4">
        <a
            href="/"
            class={`${defaultButtonClasses} ${
                currentPage === "home" ? selectedItemClasses : "bg-white"
            }`}>Home</a
        >
        <a
            href="/icloud-drive-docker"
            class={`${defaultButtonClasses} ${
                currentPage === "icloud-drive-docker"
                    ? selectedItemClasses
                    : "bg-white"
            }`}>iCloud Drive Docker</a
        >
        <a
            href="/ha-bouncie"
            class={`${defaultButtonClasses} ${
                currentPage === "ha-bouncie" ? selectedItemClasses : "bg-white"
            }`}>ha-bouncie</a
        >
    </div>
    <div class="flex items-end space-x-4">
        <a
            href="/about"
            class={`${defaultButtonClasses} ${
                currentPage === "about" ? selectedItemClasses : "bg-white"
            }`}>About</a
        >
        <a href={`https://github.com/mandarons`}>
            <svg height="40" width="40">
                <image xlink:href="github.svg" height="40" width="40" />
            </svg>
        </a>
    </div>
</nav>
